/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

button {
    background-color: lightgray;
    color: green;
    border-color: pink;
    margin-left: 20px;
    margin-right: 20px;
}